@page
@model WebApp.Pages.Institucion.GridModel
@{
}

<div class="container-fluid">

    <div class="card">
        <div class="card-header">
            Instituciones
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <table id="GridView" class="table table-striped table table-hover table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Telefono</th>
                                <th>Estado</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.GridLista)
                            {
                                <tr>
                                    <td>@item.Id_Institucion</td>
                                    <td>@item.Codigo</td>
                                    <td>@item.Nombre</td>
                                    <td>@item.Telefono</td>
                                    <td>@item.Estado</td>

                                    <td>
                                        <button type="button" class="btn btn-warning" onclick="GridInstitucion.OnclickEliminar(@item.Id_Institucion)">
                                            <i class='bx bxs-trash'></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var MensajeApp = "@Html.Raw(Model.Mensaje)";
    </script>
    <script defer src="~/App/Institucion/Grid.js"></script>
}